{% extends "bookmark/base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    <script src="{{ STATIC_URL }}js/jquery.tmpl.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.pagination.js"></script>

    <script id="bookmarkTemplate" type="text/x-jquery-tmpl">
        <div class="row">
            <div class="span2">
                <ul class="media-grid">
                    <li>
                        <a href="#">
                            <img class="thumbnail" src="http://placehold.it/48x48" alt="">
                        </a>
                    </li>
                </ul>

            </div>
            <div class="span7">
                <p>
                    <strong>${title}</strong>
                    <br/>
                    <small><a href="${url}" target="_blank">${url}</a></small>
                    <br/>
                    {% trans "Tags" %} :&nbsp;
                    {% templatetag openvariable %}each(i, tag) tags{% templatetag closevariable %}
                    <a class="tag" href="{% url api_bookmarks %}?tag=${tag.name}"><span class="label warning">${tag.name}</span></a>
                    {% templatetag openvariable %}/each{% templatetag closevariable %}
                </p>
            </div>
            <div class="span3">
                <p>
                    <small>${owner.username}</small>
                    <br/>
                    <small>${create_time}</small>
                    <br/>
                    <a class="update_favorite_user btn small"
                       data-loading-text="loading..."
                       href="/api/bookmarks/${id}/">{% trans "Favorite" %} (${num_favorite_users})</a>
                </p>
            </div>
        </div>
    </script>

    <script id="mineBookmarkTemplate" type="text/x-jquery-tmpl">
        <div class="row">
            <div class="span2">
                <ul class="media-grid">
                    <li>
                        <a href="#">
                            <img class="thumbnail" src="http://placehold.it/48x48" alt="">
                        </a>
                    </li>
                </ul>

            </div>
            <div class="span7">
                <p>
                    <strong>${title}</strong>
                    <br/>
                    <small><a href="${url}" target="_blank">${url}</a></small>
                    <br/>
                    {% trans "Tags" %} :&nbsp;
                    {% templatetag openvariable %}each(i, tag) tags{% templatetag closevariable %}
                    <a class="tag" href="{% url api_bookmarks %}?tag=${tag.name}"><span class="label warning">${tag.name}</span></a>
                    {% templatetag openvariable %}/each{% templatetag closevariable %}
                </p>
            </div>
            <div class="span3">
                <p>
                    <a class="update_bookmark btn small primary"
                            href="/api/bookmarks/${id}/">{% trans "Update" %}
                    </a>
                    <br/>
                    <a class="delete_bookmark btn small danger"
                       href="/api/bookmarks/${id}/">{% trans "Delete" %}
                    </a>
                </p>
            </div>
        </div>
    </script>

    <script type="text/javascript">
        var items_per_page = "10";
        /*
         * @param {int}page_index New Page index
         * @param {$} jq the container with the pagination links as a $ object
         */
        function initPagination(api_url, jq) {
            $.ajax({
                url:api_url,
                success:function (data) {
                    if (data.total > 0) {
                        $("#div_pagination").pagination(data.total, {
                            items_per_page:data.items_per_page,
                            num_display_entries:2,
                            num_edge_entries:2,
                            prev_text:"&larr; Previous",
                            next_text:"Next &rarr;",
                            callback:paginationCallback
                        });
                    } else {
                        $("#div_bookmark_list").html("<p>No data</p>");
                        $("#div_pagination").empty();
                    }
                },
                dataType:"json"
            });
        }

        function paginationCallback(page_index, jq) {
            var mine_url = "";
            if ($("#li_mine").attr("class") == "active") {
                mine_url = "&mine=true&order_by=newest";
            }

            $.ajax({
                url:"{% url api_bookmarks %}?current_page=" + (page_index + 1) + "&items_per_page=" + items_per_page + mine_url,
                success:function (bookmarks) {
                    if (bookmarks.data.length > 0) {
                        $("#div_bookmark_list").empty();
                        if (mine_url != "") {
                            $("#mineBookmarkTemplate").tmpl(bookmarks.data).appendTo("#div_bookmark_list");
                        } else {
                            $("#bookmarkTemplate").tmpl(bookmarks.data).appendTo("#div_bookmark_list");
                        }
                    } else {
                        $("#div_bookmark_list").html("<p>No data</p>");
                        $("#div_pagination").empty();
                    }
                },
                dataType:"json"
            });
        }

        function renderData(api_url) {
            var mine_url = "";
            if ($("#li_mine").attr("class") == "active") {
                mine_url = "&mine=true&order_by=newest";
            }
            if (api_url == null || api_url == "") {
                api_url = "{% url api_bookmarks %}";
            }
            api_url = api_url + mine_url;
            $.ajax({
                url:api_url,
                success:function (bookmarks) {
                    if (bookmarks.data.length > 0) {
                        $("#div_bookmark_list").empty();
                        if (mine_url != "") {
                            $("#mineBookmarkTemplate").tmpl(bookmarks.data).appendTo("#div_bookmark_list");
                        } else {
                            $("#bookmarkTemplate").tmpl(bookmarks.data).appendTo("#div_bookmark_list");
                        }
                    } else {
                        $("#div_bookmark_list").html("<p>No data</p>");
                        $("#div_pagination").empty();
                    }
                },
                dataType:"json"
            });
        }

        function create_bookmark() {
            send_dict = {
                url:"{% url api_bookmarks %}",
                type:"POST",
                data:$("#form_bookmark").serialize(),
                processData:false,
                dataType:"json",
                success:function (json, textStatus) {
                    if (json.redirect) {
                        window.location.href = json.redirect;
                    } else {
                        $("#model-form-bookmark").modal({show:false});
                        $("#form_bookmark :input:not(:checkbox)").val("");
                        var mine_url = "";
                        if ($("#li_mine").attr("class") == "active") {
                            mine_url = "&mine=true&order_by=newest";
                        }
                        renderData("{% url api_bookmarks %}?current_page=1&items_per_page=" + items_per_page + mine_url);
                    }
                },
                error:function (xmlHttpRequest, textStatus, errorThrown) {
                    //alert(xmlHttpRequest.responseText);
                    $("#bookmark-error").html(xmlHttpRequest.responseText);
                }
            };

            $.ajax(send_dict);

            return false;
        }

        $(function () {
            // init page data and render to page
            initPagination("{% url api_bookmarks %}?current_page=1&items_per_page=0", $("#div_pagination"));

            // submit data to create bookmark
            $("#form_bookmark").submit(function () {
                create_bookmark();
                return false;
            });

            // Change the order by
            $("ul.pills > li").click(function () {
                $("ul.pills > li").removeClass("active");
                $(this).toggleClass("active");
                var selected_li_id = $(this).attr("id");
                if (selected_li_id == "li_newest") {
                    initPagination("{% url api_bookmarks %}" + "?order_by=newest&items_per_page=0");
                } else if (selected_li_id == "li_hottest") {
                    initPagination("{% url api_bookmarks %}" + "?order_by=hottest&items_per_page=0");
                } else if (selected_li_id == "li_mine") {
                    initPagination("{% url api_bookmarks %}?mine=true&items_per_page=0");
                    //renderData("{% url api_bookmarks %}" + "?mine=true");
                } else {
                    // Do nothing.
                }
            });

            // Search by tag
            $("body").delegate( "a.tag", "click", function() {
                api_url = $( this ).attr( "href" );
                renderData(api_url);
                return false;
            });

            // Add favorite users
            $("#div_bookmark_list").delegate("a.update_favorite_user", "click", function() {
                var api_url = $( this ).attr( "href" );
                send_dict = {
                    url:api_url,
                    type:"PUT",
                    data:"update_favorite_users=true",
                    dataType:"json",
                    success:function (json, textStatus) {
                        if (json.redirect) {
                            window.location.href = json.redirect;
                        } else {
                            //TODO need to update the text
                            $(this).text("{% trans 'Favorite' %} (" + json.num_favorite_users + ")");
                        }
                    },
                    error:function (xmlHttpRequest, textStatus, errorThrown) {
                        alert(xmlHttpRequest.responseText);
                    }
                };
                $.ajax(send_dict);

                return false;
            });

            // Change the items_per_page(10, 30, 50)
            $("ul.per_page_number > li").click(function() {
                $("ul.per_page_number > li").removeClass("active");
                $(this).toggleClass("active");
                items_per_page = $(this).attr("id");
                initPagination("{% url api_bookmarks %}" + "?items_per_page=" + items_per_page);
            });

            // Delete bookmark
            $("#div_bookmark_list").delegate("a.delete_bookmark", "click", function() {
                var api_url = $( this ).attr( "href" );
                send_dict = {
                    url:api_url,
                    type:"DELETE",
                    dataType:"json",
                    success:function (json, textStatus) {
                        if (json.redirect) {
                            window.location.href = json.redirect;
                        } else {
                            alert("deleted");
                        }
                    },
                    error:function (xmlHttpRequest, textStatus, errorThrown) {
                        alert(xmlHttpRequest.responseText);
                    }
                };
                $.ajax(send_dict);

                return false;
            });

        });
    </script>
{% endblock %}

{% block head_title %}{% trans "Bookmark" %}{% endblock %}

{% block body %}
    <div class="page-header">
        <div class="row">
            <div class="span7"><h1>Bookmark</h1></div>
            <div class="span5">
                <ul class="pills fr">
                    <li id="li_newest" {% if order_by == "newest" %}class="active"{% endif %}>
                        <a href="#">{% trans "Newest" %}</a>
                    </li>
                    <li id="li_hottest" {% if order_by == "hottest" %}class="active"{% endif %}>
                        <a href="#">{% trans "Hottest" %}</a>
                    </li>
                    <li id="li_mine"><a href="#">{% trans "Mine" %}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="div_bookmark_list"></div>
    <div class="row">
        <div id="div_pagination" class="pagination span8"></div>
        <div class="pagination span4 fr">
            <ul class="per_page_number"><li id="10" class="active"><a href="#">10</a></li>
                <li id="30"><a href="#">30</a></li>
                <li id="50"><a href="#">50</a></li>
            </ul>
            <span class="page-numbers">{% trans "per page" %}</span>
        </div>
    </div>

    <div id="model-form-bookmark" class="modal hide fade">
        <form id="form_bookmark" action="." method="post">
            <div class="modal-header">
                <a href="#" class="close">&times;</a>
                <h3>{% trans "Add bookmark" %}</h3>
            </div>
            <div id="bookmark-error"></div>
            <div class="modal-body">
                {% csrf_token %}
                <fieldset>
                    {{ form|as_bootstrap }}
                </fieldset>
            </div>
            <div class="modal-footer">
                <button id="btn_add_bookmark" class="btn large primary">{% trans "Submit" %}
                </button>
            </div>
        </form>
    </div>

{% endblock %}
